<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RickAndMortypedia.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E3A166A29C44C7C00278450</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E3A167A29C44C7E00278450</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E3A168429C44C7E00278450</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
